@import "tailwindcss";
/* src/index.css або в окремому fonts.css */
body {
  font-family: 'Manrope', sans-serif;
}

html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(235, 235, 235, 1);
}


/* Безпечна ширина: не більше 1800px і не ширше за (вікно - 32px відступу) */
.safe-container {
  width: min(1800px, calc(100vw - 32px));
  margin-left: 50%;
  transform: translateX(-50%);
}

/* про всяк випадок — прибираємо горизонтальний скрол сайту */
html, body { overflow-x: hidden; }